
{% extends 'GUI/dependencies.html' %}

{% block content %}
{% load static %}
<div class="container ">
<h1>Goibhniu</h1>

<h5>
Please select one (or more) of the custom containers from the below list<br>
<br>
These containers have been created by the Goibhniu maintiners or end users - A brief description for each has been provided but CWE to CVE mapping is not maintained for these containers in the same way as vulnhub containers.<br>
</h5>

<br>

<form method="POST" action="customReadme/">
  {% csrf_token %}
  <select name="selected_custom_containers" multiple size="10">
  {% for container in custom_containers %}
      <option value="{{ container }}">{{ container }}</option>
  {% endfor %}
</select>
<br>
<br>
<button type="submit" class="btn btn-primary">View</button>
<button type="submit" class="btn btn-primary" formaction="">Select</button>
</form>

<h5>
  Currently selected custom containers:<br>
  <form method="POST" action="">
    {% csrf_token %}
    <select name="remove_custom_container"  multiple size="10">
    {% for vuln in selected_custom_containers %}
        <option value="{{ vuln }}">{{ vuln }}</option>
    {% endfor %}
    </select>
    <br>
    <button type="submit" class="btn btn-primary">Remove</button>
  </form>

</div>
{% endblock %}
 
