{% extends 'GUI/dependencies.html' %}

{% load static %}
{% load markdownify %}

{% block content %}

<div class="container ">
    
    {{htmlmarkdown | markdownify }}
        
</div>

<form method="POST" action="/customDockerfile/">
    {% csrf_token %}
    {% for key, value in docker_files.items %}
        <button name="selected_file" type="submit" class="btn btn-primary" value="{{value}}">{{key}}</button>
    {% endfor %}
    <button name="selected_custom_containers" type="submit" class="btn btn-primary" value="{{selected_cc}}" formaction="/custom">Select This CVE</button>
</form> 
  
{% endblock %}

