
{% extends 'GUI/dependencies.html' %}

{% block content %}
{% load static %}
{% load markdownify %}

<div class="container ">
<h1>Goibhniu</h1>

<h5>
Edit dockerfiles to create custom containers based off vulnhub environments<br>
<br>
Once saved the dockerfile and all files / folder from the original vulnhub path will be avaliable in a folder within `Custom_Containers`. Any scripts or additional files referenced will need to be moved their manually
<br>
The dockerfile can be saved or saved and a build attempted using the suggested or user defined tag. 
<br>
</h5>

Currently selected vulnerabilities:<br>
<br>
<form method="POST" action="">
  {% csrf_token %}
  <select name="selected_container"  multiple size="10">
  {% for key, value in containers.items  %}
      <option value="{{ value }}">{{ key }}</option>
  {% endfor %}
  </select>
  <br>
  <button type="submit" class="btn btn-primary">Select</button>
  <br>
</form>

<pre>
    <code>
        {{ docker_compose_file }}
    </code>
</pre>

<form method="POST" action="">
    {% csrf_token %}
    <textarea id="file_to_edit" name="file_to_edit" cols="75" rows="25">
        {{ file_contents }}
    </textarea>
    <br>
    <input type="text" name="build_tag" id="build_tag" placeholder='{{ suggested_tag }}' size="40"><br>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="submit" class="btn btn-primary" id="save_and_build" name="save_and_build">Save and Build</button>
</div>

{{ docker_build_result }}

{% endblock %}
 
