
{% extends 'GUI/dependencies.html' %}

{% block content %}
{% load static %}
<div class="container ">
<h1>Goibhniu</h1>

<h5>
Welcome to Goibhniu - Please use the NavBar at the top to naviagte around the GUI.<br>
<br>
Goibhniu is designed to allow you to easily deploy a containerised cyber range using custom contains, pre-existing vulnhub containers or a combination of both.<br>
<br>
By default all environments will include the following:
  <ul>
    <li>AttackBox - ParrotOS container used to carry out the attacks / actions by our malciious actor</li>
    <li>TargetOS - Currently either Ubuntu or Alpine this is the running OS of our target </li>
    <li>Suricata - IDS with default rules this is to provide logging and an indication of what actions are (and aren't) picked up</li>
    <li>EFK - Elasticsearch, Filebeats and Kibana to log all activity within the network and collate them into a SIEM which can be used for event monitoring (live or retroactively)</li>
    <li>Traffic capture - Using the host tshark all traffic between containers is captured, again to allow for event monitoring (live or retroactively)</li>
  </ul>
</h5>

Containers can be selected from either Vulnhbu or Custom container pages and the envrionment setup itself altered within the Envrionment Setup page. This allows you to move containers between external and internal networks and include additional, auxillary services, such as DNS or SMTPD.

These auxillary services while not intentionally vulnerable to specific CVEs (unless specified) have been desgined or delpoyed in such a way that they can be easily abused, mis-used or targeted as part of a complex attackchain. 

</div>
{% endblock %}
 
