
{% extends 'GUI/dependencies.html' %}

{% block content %}
{% load static %}
<div class="container ">
<h1>Goibhniu</h1>

<h5>
Setup your container range environment<br>
<br>
Please select a user defined scenario from the list below to view the environment<br>
</h5>

<form method="POST" action="userDefinedEnviroment/">
    {% csrf_token %}
    <select name="selected_scenario" multiple size="10">
    {% for file in pkl_files %}
        <option value="{{ file }}">{{ file }}</option>
    {% endfor %}
  </select>
  <br>
  <br>
  <button type="submit" class="btn btn-primary">Select</button>
</form>

</div>

{% endblock %}
 
