
{% extends 'GUI/dependencies.html' %}

{% block content %}
{% load static %}
<div class="container ">
<h1>GoibhniUWE</h1>

<h5>
All containers are taken from <a href="https://github.com/vulhub/vulhub">vulhub</a><br>
<br>
Please select from the following - All vulnerabilitiy mappings are done using CWE<br>
<br>
Update vulnhub resources and CVE to CWE mappings - Warning this can take a long time<br>
<br>
We recommend using Single Service containers if you are unsure or just starting. Using Multiple Service containers may require some debugging in places due to pre-existing setup specifics<br>
<form method="POST" action="">
  {% csrf_token %}
  <button type="submit" class="btn btn-primary">Update</button>
</form>
</h5>

<br>

<form method="POST" action="cvePage/">
  {% csrf_token %}
  <select name="selected_cves">
  {% for key, value in vulnerabilities.items %}
      <option value="{{ key }} + {{ value }}">{{ key }}</option>
  {% endfor %}
  <option value="All">All</option>
  </select>
  <br>
  <br>
  <button type="submit" class="btn btn-primary">Select</button>
</form>


</div>
{% endblock %}
